<% if notice %>
  <div id="notice_wrapper">
    <p class="notice">
      <%= notice %>
    </p>
  </div>
<% end %>
<% if alert %>
  <div id="notice_wrapper">
    <p class="notice">
      <%= alert %>
    </p>
  </div>
<% end %>